.container {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    margin: auto;
}

.grid-row {
    display: flex;
    flex-direction: row;
}

.grid-item {
    box-sizing: border-box;
    border: 1px solid black; 
    height: calc(500px/16);
    margin:0;
}